@using Group9_SEP3_Chess.Models
@using Group9_SEP3_Chess.Data
@inject IMatchService _matchService
<div class="board">
    @for (int i = 0; i < chessPieces.GetLength(0); i++)
    {
        if (i % 2 == 0)
        {
            for (int j = 0; j < chessPieces.GetLength(1); j++)
            {
                int verticalaxis = i;
                int horizontalaxis = j;
                if (chessPieces[i, j] != null)
                {
                    if (j % 2 == 0)
                    {
                        <BoardSquareWhite Image="@chessPieces[i, j].GetPiece()" ClickHandler="@(() => HandleClick(verticalaxis, horizontalaxis))"/>
                    }
                    else
                    {
                        <BoardSquareBlack Image="@chessPieces[i, j].GetPiece()" ClickHandler="@(() => HandleClick(verticalaxis, horizontalaxis))"/>
                    }
                }
                else
                {
                    if (j % 2 == 0)
                    {
                        <BoardSquareWhite ClickHandler="@(() => HandleClick(verticalaxis, horizontalaxis))"/>
                    }
                    else
                    {
                        <BoardSquareBlack ClickHandler="@(() => HandleClick(verticalaxis, horizontalaxis))"/>
                    }
                }
            }
        }
        else
        {
            for (int j = 0; j < chessPieces.GetLength(1); j++)
            {
                int verticalaxis = i;
                int horizontalaxis = j;
                if (chessPieces[i, j] != null)
                {
                    if (j % 2 == 0)
                    {
                        <BoardSquareBlack Image="@chessPieces[i, j].GetPiece()" ClickHandler="@(() => HandleClick(verticalaxis, horizontalaxis))"/>
                    }
                    else
                    {
                        <BoardSquareWhite Image="@chessPieces[i, j].GetPiece()" ClickHandler="@(() => HandleClick(verticalaxis, horizontalaxis))"/>
                    }
                }
                else
                {
                    if (j % 2 == 0)
                    {
                        <BoardSquareBlack ClickHandler="@(() => HandleClick(verticalaxis, horizontalaxis))"/>
                    }
                    else
                    {
                        <BoardSquareWhite ClickHandler="@(() => HandleClick(verticalaxis, horizontalaxis))"/>
                    }
                }
            }
        }
    }
</div>
<div class="UpgradePart">
    <label>Select upgrade: </label>
    <select @bind="UpgradeSelected">
        <option>rook</option>
        <option>horse</option>
        <option>bishop</option>
        <option>queen</option>
    </select>

    <button class="btn btn-outline-dark" @onclick="UpdateChessPiece">Upgrade</button>
</div>

<style>
    .board {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        background-color: #da9d1d;
        padding: 10px;
        width: 680px;
        height: 680px;
    }
   
</style>

@code {
    private ChessPiece[,] chessPieces = new ChessPiece[8, 8];
    String printoutArray = "";
    String UpgradeSelected = "";

    protected override async Task OnInitializedAsync()
    {
        chessPieces[0, 0] = new ChessPiece()
        {
            Type = "black-rook"
        };
        chessPieces[0, 1] = new ChessPiece()
        {
            Type = "black-horse"
        };
        chessPieces[0, 2] = new ChessPiece()
        {
            Type = "black-bishop"
        };
        chessPieces[0, 3] = new ChessPiece()
        {
            Type = "black-queen"
        };
        chessPieces[0, 4] = new ChessPiece()
        {
            Type = "black-king"
        };
        chessPieces[0, 5] = new ChessPiece()
        {
            Type = "black-bishop"
        };
        chessPieces[0, 6] = new ChessPiece()
        {
            Type = "black-horse"
        };
        chessPieces[0, 7] = new ChessPiece()
        {
            Type = "black-rook"
        };

        for (int i = 0; i < chessPieces.GetLength(1); i++)
        {
            chessPieces[1, i] = new ChessPiece()
            {
                Type = "black-pawn"
            };
        }
        chessPieces[7, 0] = new ChessPiece()
        {
            Type = "white-rook"
        };
        chessPieces[7, 1] = new ChessPiece()
        {
            Type = "white-horse"
        };
        chessPieces[7, 2] = new ChessPiece()
        {
            Type = "white-bishop"
        };
        chessPieces[7, 3] = new ChessPiece()
        {
            Type = "white-queen"
        };
        chessPieces[7, 4] = new ChessPiece()
        {
            Type = "white-king"
        };
        chessPieces[7, 5] = new ChessPiece()
        {
            Type = "white-bishop"
        };
        chessPieces[7, 6] = new ChessPiece()
        {
            Type = "white-horse"
        };
        chessPieces[7, 7] = new ChessPiece()
        {
            Type = "white-rook"
        };
        for (int i = 0; i < chessPieces.GetLength(1); i++)
        {
            chessPieces[6, i] = new ChessPiece()
            {
                Type = "white-pawn"
            };
        }
    }

    private async Task HandleClick(int FirstLayer, int SecondLayer)
    {
        Message message = new Message();
        message.FirstLayer = FirstLayer;
        message.SecondLayer = SecondLayer;
        message.Action = "Move";
        ChessPiece selected = await _matchService.MoveChessPiece(message);
        if (selected != null)
        {
            chessPieces[FirstLayer, SecondLayer] = selected;
            Console.WriteLine($"Coordinates old: {selected.OldPosition.ToString()} Coordinates new: {chessPieces[FirstLayer,SecondLayer].NewPosition.ToString()}");
            if(chessPieces[FirstLayer,SecondLayer].OldPosition.VerticalAxis != chessPieces[FirstLayer,SecondLayer].NewPosition.VerticalAxis
            || chessPieces[FirstLayer,SecondLayer].OldPosition.HorizontalAxis != chessPieces[FirstLayer,SecondLayer].NewPosition.HorizontalAxis){
                chessPieces[selected.OldPosition.VerticalAxis, selected.OldPosition.HorizontalAxis] = null;
            }
            for (int i = 0; i < chessPieces.GetLength(0); i++)
            {
                for (int j = 0; j < chessPieces.GetLength(1); j++)
                {
                    if(chessPieces[i,j]!=null){
                        chessPieces[i, j].Selected = false;
                    }
                }
            }
        }


    }


    private async Task UpdateChessPiece()
    {
        
        Message message = new Message();
        message.Action = "Upgrade";
        message.UpgradeSelected = UpgradeSelected;
        Console.WriteLine("method called");
        ChessPiece toUpdate = await _matchService.UpgradeChessPiece(message);
        chessPieces[toUpdate.OldPosition.VerticalAxis, toUpdate.OldPosition.HorizontalAxis] = toUpdate;

    }

}