@page "/Edit"
@using Microsoft.AspNetCore.Components
@using Group9_SEP3_Chess.Models
@using Group9_SEP3_Chess.Data
@inject AuthenticationStateProvider authenticationStateProvider;
@inject IUserService userService;
@if (UserToEdit == null)
{
    <em>@errorMessage</em>
}
else
{
    <EditForm Model="@UserToEdit" OnValidSubmit="@Save">
        <DataAnnotationsValidator/> <ValidationSummary/>
        <div> Username: <br/> @UserToEdit.Username</div>
        <div class="form-group" > New password:<br/> <InputText class="input" type="password" disabled="@isDisabled" @bind-Value="UserToEdit.Password"></InputText></div>
        <div class="form-group" > Confirm new password:<br/> <InputText class="input" type="password" disabled="@isDisabled" @bind-Value="UserToEdit.ConfirmPassword" ></InputText></div>
        <div class="form-group" > Email:<br/> <InputText class="input" disabled="@isDisabled" @bind-Value="UserToEdit.Email" @oninput="ConfirmationSetterEmail" ></InputText></div>
        <InputText class="input" hidden="true" @bind-Value="UserToEdit.ConfirmEmail"></InputText>
        <button class="btn btn-outline-dark" type="button" @onclick="@onDisabled">Edit </button>
        <div> Score points: <br/> @UserToEdit.ScorePoints</div>
        <div> Wins: <br/> @UserToEdit.Wins</div>
        <div> Losses: <br/> @UserToEdit.Losses</div>
        <div> Draws: <br/> @UserToEdit.Draws</div>
        <div> Games played: <br/> @UserToEdit.GamesPlayed</div>
        <p class="actions">
            <button class="btn btn-outline-dark" type="submit">Save</button>
        </p>
    </EditForm>
}

@code {
    private User UserToEdit;

    private bool isDisabled { get; set; }

    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        UserToEdit = ((CustomAuthenticationStateProvider) authenticationStateProvider).GetCachedUser();
        UserToEdit.ConfirmEmail = UserToEdit.Email;
        isDisabled = true;
    }
    
    private async Task Save()
    {
        await userService.UpdateUser(UserToEdit);
    }
    
    private void ConfirmationSetterEmail(ChangeEventArgs args)
    {
        Console.Write("Confirmation happening here");
        UserToEdit.ConfirmEmail = args.Value.ToString();
    }

    private async Task onDisabled()
    {
        if (isDisabled)
        {
            isDisabled = false;
        }
        else
        {
            isDisabled = true;  
        }
    }

}